<!DOCTYPE html>
<html>
  <head>
      <link href='https://fonts.googleapis.com/css?family=Nunito|Oxygen' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
      <nav>
        <%- partial("_partials/navigation") %>
      </nav>
      <main>
        <%- yield %>
      </main>
      <script src="/js/main.js" />
  </body>
</html>