<!DOCTYPE html>
<html>
  <head>
      <script src="https://use.typekit.net/qsc5izn.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
      <nav>
        <%- partial("_partials/navigation") %>
      </nav>
      <main>
        <%- yield %>
      </main>
      <script src="/js/main.js" />
  </body>
</html>